/*@import "";*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 20% auto 10%;
  grid-template-areas: "head head head" "main main main" "foot foot foot";
}

.base {
  grid-area: main;
  background-color: #282a3a;
}

.head {
  background-image: url(../assets/img/head.jpg);
  background-size: cover;
  background-position: 0% 54%;
  grid-area: head;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}
.head ul {
  padding-left: 0;
}
.head ul li {
  list-style-type: none;
}
.head ul li a {
  color: #c69749;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 100ms;
}
.head ul li a:hover {
  background-color: black;
  margin: 1rem;
}

/*hamburguesa*/
.boots-drop {
  display: none;
  background-color: #c69749;
}

.boots-droped {
  background-color: #c69749;
}
.boots-droped .boots-droped-li p {
  color: black;
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

.animacionHeader {
  background-position: 0% 54%;
  animation-name: aparicion_header;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 0s;
}

@keyframes aparicion_header {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 0% 10%;
  }
  25% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 0% 30%;
  }
  75% {
    background-position: 0% 40%;
  }
  100% {
    background-position: 0% 54%;
  }
}
.pie {
  grid-area: foot;
  display: flex;
  background-color: #0a0e0f;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: white;
  font-style: none;
}
.pie a {
  text-decoration: none;
  color: white;
}
.pie a:last-child:hover {
  background-color: black;
}
.pie a p {
  margin: 0;
}

.main-car {
  display: flex;
  justify-content: center;
}
.main-car .section-car {
  display: flex;
  margin: 1.25rem 0 1.25rem 0;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  color: #c69749;
  width: 75%;
}
.main-car .section-car h1 {
  font-size: 4.375rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #c69749;
  font-style: none;
}
.main-car .section-car img {
  width: 100%;
  padding: 1.25rem 0 1.25rem 0;
}
.main-car .section-car h2 {
  text-align: left;
  font-size: 3.125rem;
}
.main-car .section-car p {
  font-size: 1.25rem;
}
.main-car .section-car h3 {
  text-align: right;
}

.form-box {
  display: grid;
  grid-template-columns: 1% auto 1%;
  grid-column-start: 2;
}
.form-box h1 {
  font-size: 4.375rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #c69749;
  font-style: none;
  grid-column-start: 2;
}
.form-box .formulario {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: black;
  height: 23.75rem;
  width: 100%;
  padding: 1rem;
}
.form-box .formulario label {
  font-size: 1.2rem;
  color: #c69749;
  font-family: "Josefin Sans", sans-serif;
}
.form-box .formulario input {
  margin-bottom: 1rem;
  width: 100%;
}
.form-box .formulario textarea {
  width: 100%;
}
.form-box .formulario button {
  margin-top: 1rem;
  background-color: #c69749;
  color: black;
  border-radius: 0.3125rem;
  border-color: black;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.125rem 0.125rem 0.125rem 0.125rem;
}

.main-faqs {
  display: grid;
  grid-template-columns: none;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 1.25rem;
  gap: none;
}
.main-faqs .section-faqs {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}
.main-faqs .section-faqs h1 {
  font-size: 4.375rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #c69749;
  font-style: none;
  margin: 15px 0 0 0;
  grid-column-start: 2;
}
.main-faqs .section-faqs .accordion-item {
  background-color: #282a3a;
}
.main-faqs .section-faqs .accordion-item .accordion-body, .main-faqs .section-faqs .accordion-item .accordion-button, .main-faqs .section-faqs .accordion-item .accordion-button:not(.collapsed) {
  background-color: #c69749;
  max-width: 100%;
  font-family: "Josefin Sans", sans-serif;
  border: solid black;
  color: black;
}
.main-faqs .section-faqs .accordion-item .accordion-button, .main-faqs .section-faqs .accordion-item .accordion-button:not(.collapsed) {
  background-color: #735f32;
}
.main-faqs .section-faqs .accordion-item .accordion-button::after, .main-faqs .section-faqs .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(../assets/img/mas.png);
}
.main-faqs .section-faqs .accordion-item .accordion-button:not(.collapsed):after {
  background-image: url(../assets/img/menos.png);
}

h1 {
  font-size: 4.375rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #c69749;
  font-style: none;
}

.section-fleet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 4.375rem;
  gap: 4.375rem;
}
.section-fleet div {
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 150ms;
}
.section-fleet div:hover {
  transform: scale(1.05);
}
.section-fleet div img {
  width: 100%;
  box-shadow: 0.0625rem 0.0625rem 1.875rem rgba(0, 0, 0, 0.685);
  transition: all 70ms;
}
.section-fleet div img:hover {
  box-shadow: 0.3125rem 0.3125rem 2.5rem black;
}
.section-fleet div a {
  text-decoration: none;
  color: #c69749;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.857rem;
}

.main-index {
  display: grid;
  grid-template-columns: none;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: none;
  gap: none;
}
.main-index h1 {
  font-size: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #c69749;
  font-style: italic;
  margin: 1rem;
}
.main-index h2 {
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #c69749;
  font-style: none;
}
.main-index h3 {
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #c69749;
  font-style: none;
  margin: 50px;
}
.main-index p {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #c69749;
  font-style: none;
  padding: 0 2rem 0 2rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-rows: 10% auto 5%;
    grid-template-areas: "head head" "main main" "foot foot";
  }
  /*header*/
  .head li {
    color: black;
  }
  .head li a {
    color: #c69749;
    text-decoration: none;
    font-size: 1rem;
  }
  .navegador-base {
    display: none;
  }
  /*hamburguesa*/
  .boots-drop {
    display: flex;
    margin-left: 0.625rem;
  }
  /*index*/
  .main-index {
    display: grid;
    grid-template-columns: none;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: none;
    gap: none;
  }
  /*fleet*/
  .section-fleet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 3.125rem;
    gap: 3.125rem;
  }
  .section-fleet a {
    font-size: 1.5rem;
  }
  /*form*/
  .form-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: none;
    gap: none;
    padding: 0 1.25rem 0 1.25rem;
  }
  .form-box h1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  /*faqs*/
  .main-faqs {
    display: grid;
    grid-template-columns: none;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: none;
    gap: none;
  }
  /*car*/
  .section-car h1 {
    font-size: 3.5rem;
  }
  .section-car h2 {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  .grid-container {
    grid-template-areas: "head" "main" "foot";
  }
  /*header*/
  .head {
    background-image: url(../assets/img/head.jpg);
    background-size: cover;
    background-position: 0% 54%;
    grid-area: head;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
  }
  /*index*/
  .main-index {
    display: grid;
    grid-template-columns: none;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: none;
    gap: none;
  }
  /*fleet*/
  .section-fleet {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 1.875rem;
    gap: 1.875rem;
  }
  .section-fleet a {
    font-size: 1.2rem;
  }
  /*form*/
  .form-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: none;
    gap: none;
  }
  .form-box h1 {
    grid-column-end: 1;
  }
  /*car*/
  .section-car h1 {
    font-size: 2.5rem;
  }
  .section-car h2 {
    font-size: 2rem;
  }
  /*faqs*/
  .main-faqs {
    display: grid;
    grid-template-columns: none;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: none;
    gap: none;
  }
}

/*# sourceMappingURL=style.css.map */
