.form-box {
    display: grid;
    grid-template-columns: 1% auto 1%;
    grid-column-start: 2;
    .formulario{
        grid-column-start: 2;
        background-color: black;
        margin-top: 1.25rem;
        height: 23.75rem;
        width: 100%;
        padding: 1rem;
        label{
            font-size: 1.2rem;
            color: #c69749;
            font-family: $font-general;
        }
        input{
            margin-bottom: 1rem;
            width: 100%;
        }
        textarea{
            width: 100%;
        }
        button{
            margin-top: 1rem;
            background-color: #c69749;
            color: black;
            border-radius: 0.3125rem;
            border-color: black;
            font-family: $font-general;
            padding: 0.125rem 0.125rem 0.125rem 0.125rem;
        }
    }
}