.main-faqs{
    @include grids_responsive(none,1,4,1.25rem,none);
    .section-faqs{
        display: flex;
        flex-direction: column;
        font-family: $font-general;
        h1{
            @include font(4.375rem,$font-titulos,center,#c69749,none);
            margin: 15px 0 0 0;
            grid-column-start: 2;    
        }
        .accordion-item{
            background-color: #282a3a;
            .accordion-body{
                background-color: #c69749;
                max-width: 100%;
                font-family: $font-general;
                border: solid black;
                color: black;
            }
            .accordion-button{
                @extend .accordion-body;
                background-color: #735f32;
                &:not(.collapsed){
                    @extend .accordion-button;
                }
                &::after{
                    background-image: url(../assets/img/mas.png);
                }
                &:not(.collapsed):after{
                    background-image: url(../assets/img/menos.png);
                }
            }
        }
        
    }
}