h1{
    @include font(4.375rem,$font-titulos,center,#c69749,none);
}
.section-fleet {
    @include grids_responsive(repeat(3, 1fr),1,4,4.375rem,4.375rem);
    div{
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all 150ms;
        &:hover{
            transform: scale(1.05);
        }
        img {
            width: 100%;
            box-shadow: .0625rem .0625rem 1.875rem rgba(0, 0, 0, 0.685);
            transition: all 70ms;
            &:hover{
                box-shadow: 0.3125rem 0.3125rem 2.5rem black;
            }
        }
        a {
            text-decoration: none;
            color: #c69749;
            font-family: $font-general;
            font-size: 1.857rem;
            
        }
    }
    
}