.pie {
    grid-area: foot;
    display: flex;
    background-color: #0a0e0f;
    justify-content: space-between;
    padding: 0 24px 0 24px;
    align-items: center;
    @include font(1.25rem,$font-head_foot,center,white,none);
    a{
        text-decoration: none;
        color: white;
        &:last-child:hover{
            background-color: black;
        }
        p{
            margin: 0;
        }
    }    
}
