.main-index {
    @include grids_responsive(repeat(3,1fr),1,4,none,none);
    .section-index{
        grid-column-start: 1;
        grid-column-end: 4;
    }
h1 {
    @include font(10rem,$font-titulos,center,#c69749,italic);
    margin: 1rem;
    
}
h2 {
    @include font(5rem,$font-titulos,center,#c69749,none);
}
h3{
    @include font(5rem,$font-general,center,#c69749,none);
    margin: 3.125rem;
}
p {
    @include font(1.5rem,$font-general,center,#c69749,none);
    padding: 0 2rem 0 2rem;
}
}
