@media (max-width: 425px) {
    .grid-container {
        grid-template-areas:
        "head"
        "main"
        "foot";
    }
    /*header*/
    .head {
        background-image: url(../assets/img/head.jpg);
        background-size: cover;
        background-position: 0% 54%;
        grid-area: head;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        font-family: "Roboto Mono", monospace;
    }
    /*fleet*/
    .section-fleet {
        @include grids_responsive(1fr,1,1,1.875rem,1.875rem);
        a{
            font-size: 1.2rem;
        }
    }
    /*form*/

    .form-box {
        @include grids_responsive(1fr,1,1,none,none);
        h1{
            grid-column-end: 1;
        }
    }
    /*car*/
    .section-car {
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2rem;
        }
    }
    /*faqs*/
    .main-faqs {
        @include grids_responsive(none,1,1,none,none);
    }
}