@media (max-width: 425px) {
    .grid-container {
        grid-template-areas:
        "head"
        "main"
        "foot";
    }
    /*index*/
    .main-index{
        @include grids_responsive(1fr,1,1,none,none);
        .section-index{
            grid-column-end: 1;
        }
    }
    /*fleet*/
    .section-fleet {
        @include grids_responsive(1fr,1,1,1.875rem,1.875rem);
        a{
            font-size: 1.2rem;
        }
    }
    /*form*/

    .form-box {
        @include grids_responsive(1fr,1,1,none,none);
        h1{
            grid-column-end: 1;
        }
    }
    /*car*/
    .section-car {
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2rem;
        }
    }
    /*faqs*/
    .main-faqs {
        @include grids_responsive(none,1,1,none,none);
    }
}