@media (max-width: 768px) {
    .grid-container {
        grid-template-rows: 10% auto 5%;
        grid-template-areas:
        "head head"
        "main main"
        "foot foot";
    }
    /*header*/
    .head {
        li {
            color: black;
            a {
                color: #c69749;
                text-decoration: none;
                font-size: 1rem;
            }
        }
    }
    .navegador-base{
        display: none;
    }
    /*hamburguesa*/
    .boots-drop {
        display: flex;
        margin-left: .625rem;
    }
    /*index*/
    .main-index{
        @include grids_responsive(none,1,3,none,none);
        
    }
    /*fleet*/
    .section-fleet {
        @include grids_responsive(1fr 1fr,1,3,3.125rem,3.125rem);
        a {
            font-size: 1.5rem;
        }
    }
    /*form*/
    .form-box {
        @include grids_responsive(1fr 1fr,1,3,none,none);
        padding: 0 1.25rem 0 1.25rem;
        h1{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    /*faqs*/
    .main-faqs {
        @include grids_responsive(none,1,3,none,none);  
    }
    /*car*/
    .section-car{
        h1 {
            font-size: 3.5rem;
        }
        h2 {
            font-size: 3rem;
        }
    }
}